<main-nav></main-nav>
<centered-content>
    <mat-accordion class="example-headers-align">
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Today's Tasks
            </mat-panel-title>
            <mat-panel-description>
              A list of tasks compiled by our custom engine.
              <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <ol>
            <li *ngFor="let task of tasksForToday$ | async">{{ task.short }}</li>
          </ol>
      
          <mat-action-row>
            <button mat-button color="primary" (click)="nextStep()">Next</button>
          </mat-action-row>
        </mat-expansion-panel>
      
        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Projects
            </mat-panel-title>
            <mat-panel-description>
              A listing of all the projects you have created.
            </mat-panel-description>
          </mat-expansion-panel-header>
    
          <mat-action-row>
              <div fxLayoutAlign="center">
                <mat-form-field appearance="fill">
                  <mat-label>Project Type</mat-label>
                  <mat-select>
                    <mat-option>ALL</mat-option>
                    <mat-option *ngFor="let type of projectTypes" value="{{ type }}">{{ type }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Project Phase</mat-label>
                  <mat-select>
                    <mat-option>ALL</mat-option>
                    <mat-option *ngFor="let type of projectPhases" value="{{ type }}">{{ type }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
          </mat-action-row>
          <mat-action-row>
            <ul>
              <li *ngFor="let project of projects$ | async">
                <a [routerLink]="['/projects', project._id]">{{ project.name }}</a>
              </li>
            </ul>
          </mat-action-row>
          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Previous</button>
            <button mat-button color="primary" (click)="nextStep()">Next</button>
          </mat-action-row>
        </mat-expansion-panel>
      
        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Tasks to Triage
            </mat-panel-title>
            <mat-panel-description>
              A list of tasks that do not belong to a project
            </mat-panel-description>
          </mat-expansion-panel-header>

          <text-edit-list
            [list]="taskShortsToTriage"
            (listChanged)="updateTasksToTriage($event)"
          ></text-edit-list>
      
          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Previous</button>
            <button mat-button color="primary" (click)="nextStep()">End</button>
          </mat-action-row>
        </mat-expansion-panel>
      
      </mat-accordion>
</centered-content>