<main-nav></main-nav>
<centered-content>
    <mat-accordion class="schedule-headers-align">
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Daily
                </mat-panel-title>
                <mat-panel-description>
                    A list of tasks to schedule every day.
                </mat-panel-description>
            </mat-expansion-panel-header>

            <ol>
                <li *ngFor="let task of dailyTasks$ | async">{{ task.short }}</li>
            </ol>

            <mat-action-row>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Monthly Tasks
                </mat-panel-title>
                <mat-panel-description>
                    A list of tasks to schedule at the beginning of each new month.
                </mat-panel-description>
            </mat-expansion-panel-header>

            <ol>
                <li *ngFor="let task of monthlyTasks$ | async">{{ task.short }}</li>
            </ol>

            <mat-action-row>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Yearly Tasks
                </mat-panel-title>
                <mat-panel-description>
                    A list of tasks to schedule each year.
                </mat-panel-description>
            </mat-expansion-panel-header>

            <ol>
                <li *ngFor="let task of dailyTasks$ | async">{{ task.short }}</li>
            </ol>

            <mat-action-row>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
        </mat-expansion-panel>

    </mat-accordion>
</centered-content>